.footer{
    background-color: #F8F8F8;
    padding: 60px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__col{
        display: flex;
        flex-direction: column;

    }

    &__col-title{
        font-size: 15px;
        font-weight: 700;
        color: #4E5665;
        text-transform: uppercase;
        margin-bottom: 22px;
    }

    &__col-items{
        display: flex;
        flex-direction: column;

        font-size: 14px;
        margin-bottom: 40px;
    }

    &__col-link{
        margin-bottom: 14px;
        text-decoration: none;
        color: #505050;
    }

    &__copy{
        text-align: center;
        font-size: 14px;
    }

}